@import '../vars.css';


.item-page-container {
    display: flex;
    justify-content: center;
    margin: 20px
}

.item-details-container {
    display: flex;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    align-items: flex-start;
}

.item-image {
    width: 500px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-details {
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 18px;
    color: #333;
}

.item-add-to-cart-button{
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: var(--color-bg);
    background: var(--color-dark);
}

