/* Services.css */

.services-container {
    font-family: var(--font-primary), sans-serif;
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.service-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-image {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.service-card p {
    margin: 0.25rem 0;
    font-size: 1rem;
}

.service-details-button {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    color: var(--color-bg);
    background: var(--color-dark);
}
