@import '../vars.css';

.services-container {
    font-family: var(--font-primary), sans-serif;
}

.services-container h1 {
    color: var(--color-light);
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4rem;
    padding: 1rem;
}

.service-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

.service-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.service-card p {
    margin: 0.25rem 0;
    font-size: 1rem;
}

.service-details-button {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: var(--color-bg);
    background: var(--color-dark);
}

.service-list {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem;
}

.service-card {
    flex: 0 0 auto;
    width: 300px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-align: center;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.service-name {
    font-size: 1.1rem;
    color: #333;
    margin: 0.5rem 0;
}

.book-service-btn {
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    color: var(--color-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    transition: background-color 0.3s;
    width: 100%;
}

.book-service-btn:hover {
    background-color: #013842;
}

.service-list::-webkit-scrollbar {
    height: 8px;
}

.service-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.service-list::-webkit-scrollbar-thumb:hover {
    background: #888;
}