@import '../vars.css';

.shop-container {
    font-family: var(--font-primary), sans-serif;
    margin: 0 auto; /* Center the container */
    max-width: 1500px;
    padding: 20px;
}

.shop-container h1 {
    color: var(--color-light);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 10px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.product-card h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.category-name {
    color: var(--color-medium);
    font-size: 2rem;
}

.product-card p {
    margin: 0.25rem 0;
    font-size: 1rem;
}

.show-more-button {
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 45px;
    color: var(--color-bg);
    background: var(--color-dark);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.shop-add-to-cart-button{
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: var(--color-bg);
    background: var(--color-dark);
}